.header-container{
    display: flex;
}
.header-links-container{
    margin-left: auto;
    padding-top: 10px;
    margin-bottom: auto;
}
.header-links-container a{
    padding-top: 10px;
    margin: 5px;
    margin-left: 50px;
}
.header-links-container a:hover{
    color: #0065FC;
    border-top:2px solid #0065FC;
}
.searchbar-container{
    border-radius: 15px;
    overflow: hidden;
    display: flex;
}
.searchbar-container svg{
    background-color: #dddddd;
    padding: 15px;
}
.searchbar-container input{
    border:none;
    padding: 15px;
}
.searchbar-container button{
    padding: 15px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    font-weight: 700;
}
