/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filterbar-container p{
        flex-basis: 100%;
    }
    .filterbar-container button{
        width: 161px;
        font-size: 16px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activites-container img{
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .header-container{
        display: block;
        margin-top: 40px;
    }
    .title-container{
        width: 93px;
        height: 28.5px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-container *{
        text-align: center;
    }
    .header-links-container{
        display: flex;
        justify-content: center;
    }
    .header-links-container a{
        flex:1 1 50%;
        margin: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom:2px solid #D9D9D9;
    }
    .header-links-container a:hover{
        color: #0065FC;
        border-bottom:2px solid #0065FC;
        border-top:none;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    .main-container{
        padding: 0;
    }
    .search-container{
        padding: 20px;
    }
    .searchbar-container{
        justify-content: center;
    }
    .searchbar-container button{
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .searchbar-container button i{
        display: block;
        color: white;
    }
    .searchbar-container button span{
        display: none;
    }
    .search-titles h2 {
        margin-top: 0px;
    }
    .filterbar-container button{
        width: 162.5px;
        font-size: 14px;
    }
    .hebergements-and-populaires {
        flex-flow: column-reverse;
    }
    .hebergements-and-populaires section {
        border-radius: 0;
    }
    .populaires-cards{
        display: block;
    }
    .hebergements-container{
        display: block;
        margin-top: 0;
    }
    .hebergements-card{
        margin-top: 20px;
    }
    .activites-container{
        display: block;
    }
    .activites-card{
        margin-bottom: 20px;
    }
    .activites-container img{
        height: 141px;
    }
    .hebergements{
        background-color: white !important;
    }
    footer {
    display: block;
    }
    footer div{
        width: auto;
        margin-bottom: 50px;
    }
    
}