.logo-lock{
    position: relative;
    bottom:3px;
    left:-34.5px;
    height: 7px;
}
.header-container{
    display: flex;
    margin-bottom: 50px;
    margin-top: 2px;
}
.title-container{
    width: 62px;
    height: 19px;
}
.header-links-container{
    margin-left: auto;
    padding-top: 10px;
    margin-bottom: auto;
}
.header-links-container a{
    padding-top: 10px;
    margin: 5px;
    margin-left: 50px;
}
.header-links-container a:hover{
    color: #0065FC;
    border-top:2px solid #0065FC;
}
.search-titles h2{
    margin-bottom: 5px;
    font-size: 22px;
}
.search-titles p{
    margin-top: 0px;
    font-size: 16px;
}
.searchbar-container{
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    display: flex;
    margin-left: auto;
}
.searchbar-container .dot-container{
    background-color: #F2F2F2;
    height: 50px;
    width: 49px;
    text-align: center;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}
.searchbar-container .fa-location-dot{
    color: black;
    vertical-align: middle;
    position: relative;
    top:10px;
    left:1px;
}
.searchbar-container input{
    border:none;
    font-weight:bold;
    color: black;
    width: 200px;
    border-top:1px solid #F2F2F2;
    border-bottom:1px solid #F2F2F2;
    padding-left: 5px;
    padding-right: 17px;
}
.searchbar-container input::placeholder {
  color: black;
  opacity: 1; /* Firefox */
    text-align: center;
    font-size: 18px;
}
.searchbar-container button{
    padding: 15px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    font-weight: 700;
    position: relative;
    right: 15px;
}
.searchbar-container button i{
    display: none;
}
.fa-solid{
    font-size: 20px;
}
.filterbar-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.filterbar-container button{
    background-color: white;
    border:2px solid #D9D9D9;
    border-radius: 25px;
    padding: 15px;
    align-items: center;
    font-size: 17px;
    height: 50px;
    width: 170px;
    display: flex;
    gap: 10px;
}
.filterbar-container button:hover{
    background-color: #DEEBFF;
}
.filterbar-container button svg{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.round-border-icon{
    border-radius: 100%;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    margin-right: 10px;
    text-align: center;
}
.round-border-icon i{
    width: 24px;
    height: 24px;
    padding-top: 10px;
}
.infobar{
    align-items: center;
    font-size: 16px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.infobar .fa-solid{
    font-size: 10px;
}
.hebergements-container{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

.hebergements-container img{
    height: 124px;
    width: 100%;
    object-fit:cover;
    border-radius: 20px 20px 0 0;
}
.hebergements-container a{
    flex:1 1 30%;
}
.hebergements-card{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.hebergements-card .card-title{
    margin-top: 5px;
}
.card-subtitle{
    font-size: 14px;
    margin-bottom: 5px;
}
.hebergements-afficherplus{
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    display: block;
}
.activites{
    padding: 30px;
}
.activites h2{
    font-size: 22px;
}
.activites-container{
    display: flex;
    justify-content: space-between;
}
.activites-container img{
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.activites-container p{
    font-size: 16px;
    margin-left: 15px;
    padding-bottom: 20px;
}
.activites-text-container{
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.activites-text-container h2{
    padding: 10px;
    font-size: 16px;
}
.activites a{
    flex:0 0 23%;
}
.activites-card{
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);

}
footer {
    display: flex;
    justify-content: space-between;
    background: rgba(242, 242, 242, 1);
    padding: 20px;

}
footer div{
    flex: 1 1 0;
    width: 0;
}
footer h2{
    font-size: 18px;
}
footer a{
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}